@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --primary: #ea2a2a;
  --brownish: #886363;
  --primary-background: #f4e1e1;
  --blue-background: #262626;
  --whatsapp: #25d366;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-brownish: var(--brownish);
  --color-primary-background: var(--primary-background);
  --color-blue-backgroud: var(--blue-background);
  --color-whatsapp: var(--whatsapp);
}

@layer components {
  .custom-details {
    border-block-end: 3px solid var(--primary);
    margin-block: 0.5rem;
    padding-block: 0.5rem;
  }

  .custom-details summary {
    position: relative;
    anchor-name: --summary;
  }

  .custom-details summary::marker {
    content: "";
  }
  .custom-details summary::after,
  summary::before {
    content: "";
    border-block-start: 3px solid orangered;
    height: 0;
    width: 1rem;

    inset-block-start: 50%;
    inset-inline-end: 0;

    position: absolute;
    position-anchor: --summary;
    position-area: top end;
  }
  .custom-details summary::after {
    transform: rotate(90deg);
    transform-origin: 50%;
  }
  .custom-details[open] summary::after {
    transform: rotate(0deg);
}
  }

  body {
  background: var(--background);
  color: var(--foreground);
}
